<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addexp.css') }}">
</head>
<body>
    <h1>Add Expense</h1>
    <form action="{{ url_for('main.add_expense') }}" method="POST">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required><br>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="0.01" required><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br>

        <button type="submit">Add Expense</button>
    </form>
    
    <h2>Your Expenses:</h2>
<table border="1">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <a href="{{ url_for('main.dashboard') }}">Back to Dashboard</a>
</body>
</html>
